<div class="sub-create">
  <div class="create">
    <form class="crear">
      <div class="id">
        <label for="id_desc">ID:</label>
        <input type="number" class="txt-desc" id="id_desc" name="id_desc" placeholder="Coloca el identificador">
      </div>
      <div class="desc">
        <label for="Desc">Descuento:</label>
        <input type="number" class="txt-desc" id="desc" name="desc" placeholder="Coloca el descuento">
      </div>
      <div class="porc">
        <label for="Porc">Porcentaje:</label>
        <input type="number" min="0" max="100" class="txt-Porc" id="Porc" name="Porc" placeholder="Coloca el Porcentaje">
      </div>
      <div class="btton-create">
        <button type="submit" class="btton_create" id="btton_create">Crear</button>
      </div>
    </form>
  </div>
</div>
