<div class="sub-update">
  <div class="update">
    <form class="form-update">
      <div class="id">
        <label for="id_update">ID:</label>
        <input type="number" class="form-id" id="txt_id" name="txt_id" placeholder="Coloque el identificador">
      </div>
      <div class="desc">
        <label for="desc_update">Descuento:</label>
        <input type="number" class="form_id" id="txt_desc" name="txt_desc" placeholder="Coloque el descuento">
      </div>
      <div class="porc">
        <label for="porc_update">Porcentaje:</label>
        <input type="number" class="form-porc" id="txt_desc" name="txt_desc" placeholder="Coloque el descuento">
      </div>
      <div class="btton_update">
        <button type="submit" class="btton-update" id="btton_update">Update</button>
      </div>
    </form>
  </div>
</div>
